<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Blog de Jean Dore</title>
    <meta charset=utf-8>
    <meta name="description" content="Blog de Mark">
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="../blog/assets/css/style.css" type="text/css">
</head>





    <div class="container register-form">
        
            <div class="note">
                <p>Inscription.</p>
            </div>
            
            <form action="index.php?p=checkregister" method="POST"></form>
            <div class="form-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Votre Nom de Compte *" value=""/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Phone Number *" value=""/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Password *" value=""/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Confirm Password *" value=""/>
                        </div>
                    </div>
                </div>
                <button type="button" class="btnSubmit">Submit</button>
            </div>
        </div>
    </div>


    <main>
    </main>
    
        <footer>
    
        </footer>
    
    <script src="https://kit.fontawesome.com/85949c255d.js"></script>
    
    </body>
    
    </html>

    <!--  <h2>Enregistrement</h2>
    <form action="register.php" method="POST">
        <label>Identifiant :</label>
        <input type="text" name="username" required /><br /><br />
        <label>Mot de passe :</label>
        <input type="password" name="password" required /><br /><br />
        <label>Retapez mot de passe :</label>
        <input type="password" name="password2" required /><br /><br />
        <input type="submit" />
    </form>
    <br /><hr />


    
    <h2>Connexion</h2>
    <form action="login.php" method="POST">
        <label>Identifiant :</label>
        <input type="text" name="username" required /><br /><br />
        <label>Mot de passe :</label>
        <input type="password" name="password" required /><br /><br />
        <input type="submit" />
    </form>
-->
    
