body {
	margin: 0;
	font: normal 15px / 27px "Open Sans",Helvetica,Arial,Verdana,sans-serif;
}
header {
	text-align: center;
	color: white;
}
h1 {
	font-size: 60px;
}
h2 {
	font-size: 30px;
}

html,body {
	height: 100%;
	padding: 0;
}
.presentation {
	height: 650px;
	background-image: url(../img/bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.text1 {
	position: absolute;
	top: 20%;
}

.background {
	background-image: url(https://i1.wp.com/gogonihon.com/wp-content/uploads/2018/01/Fuji-1.jpg?resize=1920%2C934&ssl=1);
height: 650px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar {
    z-index: 2;
    position: fixed;
    width: 100%;
    padding: 16px;
	padding-left: .9rem;
	top: 0px;
    }

.navbar-expand-md .navbar-nav .nav-link{
    	padding-left: 1.9rem;
	}
	
	.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}

.register-form
{
	margin-top : 100px;
}

.articles
{
	margin-top :  80px;
}

.btn-secondary {

	background: #007bff;
	margin-top : 50px;
}

.thumbnail {
    padding:0px;
}
.panel {
	position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}


.barre {
	width : 25%;
}


.col-sm-12
{
	margin : 45px 0px;
}

button 
{
	color : red;
	font-size: 12px;
}

.listcomment
{
	margin-top : 130px;
}

.choise{
	left 
}